@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Medium';
  src: url('./assets/fonts/beatrice-display-trial-cufonfonts/BeatriceTRIAL-Medium-BF64829e8ac35f2.otf')
    format('opentype');
}

@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/beatrice-display-trial-cufonfonts/BeatriceTRIAL-Regular-BF64829e8a62240.otf')
    format('opentype');
}
@font-face {
  font-family: 'ExtraBold';
  src: url('./assets/fonts/beatrice-display-trial-cufonfonts/BeatriceTRIAL-Extrabold-BF64829e8b6b9f2.otf')
    format('opentype');
}

.border-red {
  border: 2px solid red;
}

.border-blue {
  border: 2px solid blue;
}
